<app-header titulo="Grid"></app-header>

<ion-content class="ion-padding" fullscreen>


  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6"
              *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
        
        <ion-card>
          <ion-img src="/assets/stan-lee.jpg"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>Stan Lee</ion-card-subtitle>
          <ion-card-title>O mundo criando por Stan lee</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ad accusamus ratione ex, corrupti labore eius inventore ullam nihil delectus perspiciatis maxime aliquam aliquid dolores deleniti odio magni aspernatur eum.  
        </ion-card-content>


      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
